<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.appsoar.teknesian">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="ir.appsoar.teknesian.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.appsoar.teknesian.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Fonts"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".ScreenShotService.ASS"
            android:process=":remote">
            <intent-filter>
                <action android:name="abc.def.ghi" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDO9oea1wBocgjDUQyJiTvufn77pxd9VSE" />

        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ir.appsoar.teknesian"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.appsoar.teknesian" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_178668981553" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="Tm9uZQ==" />

        <service
            android:name=".Helper.LocationService"
            android:process=":my_service"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name=".Helper.LocationManagerService"
            android:process=":my_service"
            tools:ignore="InnerclassSeparator" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity
            android:name=".Activity.AddressAddActivity"
            android:label="افزودن آدرس"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.AddressMapActivity"
            android:label="افزودن آدرس"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="اطلاعات کاربری"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="ورود"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.AddressActivity"
            android:label="انتخاب آدرس"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ActivityForushgahDetail"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ActivityForushgahList"
            android:label="لیست محصولات"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.FirstActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://example.com" -->

                <data
                    android:host="snapplift.com"
                    android:scheme="snapplift" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HamkaranActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ContactusActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ActivityCart"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.PoshtibaniActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ForushgahActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.ItemForushgahActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.SafetyDetailsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.SafetyActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.OrderManageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.TamirFormActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.FactorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Requests_Frag"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.VerifyCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.divar.DivarActivity"
            android:label="@string/title_activity_divar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.CalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.AlphaCalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.WellCalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.CabinCalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.EngineCalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Fani.StandardCalculateActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activity.Fani.ListActivity" />
        <activity android:name=".Activity.ImageViewer"></activity>
    </application>

</manifest>